{{#each content as |option|}}
{{ui-radio content=option class=optionsClass}}
  {{#if hasBlock}}
    {{yield option}}
  {{else}}
    {{#if option.description}}
      <span class="radio-group-item-desc">{{option.description}}</span>
    {{/if}}
  {{/if}}
{{/each}}